@media screen and (max-width: 1600px){ 

}


@media screen and (max-width: 1366px){ 

}

@media screen and (max-width: 1000px){ 
nav ul li a  {
	font-size:10px;
	margin-left:10px;
	}
.masonry-list li {
	height:220px;
	}
.alorites, .alblue {
	width:50%;
	height:400px;
	}
}

@media screen and (max-width: 900px){ 

.logo span {
	background-size:150px;
	width:150px;
	}
.logo {
	padding: 0.5em 0;
}
nav {
	padding: 0.5em 0;
	}
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
	
	.f_logo {
		display:none;
		}
	.copy_info, .copy_info p {
		text-align:center;
		}
	
	.social {
    text-align: center;
    width: 100%;
}
.social li {
    display: inline-block;
    padding-left: 0.5em;
	float:none;
}
.social {
	margin:0 0 15px 0;
	}
.masonry-list li {
	width:50%;
	height:240px;
	}
	

}


@media screen and (max-width: 760px){ 
.btn-slider {
	display:none;	
	}
.content h1 {
    font-size: 18px;
    padding: 10px 0 10px 10px;
}
.joinus h2 {
	font-size:1.8em;
	}
.joinus a {
	font-size:1.2em;
	}
.innerbanner .container {
	padding-left:20px;
	padding-right:20px;
	}
.innerbanner h5 {
	font-size:1em;
	margin:0;
	}
.innerbanner h2 {
	font-size:2em;
	margin:0;
	}
.innerbanner h3 {
	font-size:1.4em;
	line-height:normal;
	margin:0;
	}
.quotes {
	padding: 2em 2em;
	}
.bx_txt {
	font-size:1.4em;
	}
.stdlist h3, .altlist h3 {
	font-size:1.4em;
	}

}


@media screen and (max-width: 700px){ 
.brand_logos {
	width:100%;
	padding:20px;
	}
.col40, .col60 {
	width:100%;
	}
.clients li {
	width:50%;
	}
.main_services h2, .process h2, .featuredpros h2 {
	font-size:2em;
	}
.alorites, .alblue {
	height:360px;
	} 
}


@media screen and (max-width: 600px){ 
.clientwrapper h2 {
	font-size: 1.4em;
	}
.plx2text {
	padding: 4em 0;
	}
.whatwedo li {
	width:100%;
	}
.da-slider {
	min-width:260px;
	}
.da-slide p, .da-slide h2 {
	width:100%;	
	}
}


@media screen and (max-width: 500px){ 
.clientbtns a {
	display:block;
	margin:10px 0;
	
	}
.main_services h2, .process h2, .featuredpros h2 {
	font-size:1em;
	}
.portfoliowrapper h2 {
	font-size:1.4em;
	}

}

@media screen and (max-width: 480px){ 
.clients li {
	width:100%;
	}
.cbp-l-filters-text .cbp-filter-item {
	width:100%;
	}
.b_link {
	margin-top:10px;
	}
.copy_info span {
	
	font-size:11px;
	}
 .social a {
	width:30px;
	height:30px;
	
	 }
.masonry-list li {
	width:100%;
	height:300px;
	} 
.alorites, .alblue {
	width:100%;
	height:360px;
	} 
.whylist h3 {
	font-size:18px;
	}
 }


@media screen and (max-width: 320px){ 


}

@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}
